Vagrant.configure("2") do |config|
    config.vm.define "agent1" do |agent1|
      agent1.vm.box = "ubuntu/jammy64"
      agent1.vm.disk :disk, size: "20GB", primary: true
      agent1.vm.network :private_network, ip: "192.168.56.20"
      agent1.vm.provider "virtualbox" do |vb|
        vb.memory = "2048"
      end
      agent1.vm.hostname = "agent1"
      agent1.vm.provision "shell", inline: <<-SHELL
      apt-get -y update
      apt-get -y upgrade
      apt-get install -y gcc make git curl jq net-tools docker.io docker-compose
      sudo tee /etc/rsyslog.d/60-custom-forwarding.conf > /dev/null <<EOF
template(name="MyCustomTemplate" type="string" string="<%PRI%>%TIMESTAMP% %HOSTNAME% %syslogtag% %msg%\\n")
*.* action(type="omfwd" target="192.168.56.20" port="32150" protocol="tcp" template="MyCustomTemplate")
EOF
      sudo systemctl restart rsyslog
      touch agent-install.crt
      export HZN_ORG_ID=${HZN_ORG_ID}
      export HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}
      export HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1
      export HZN_FSS_CSSURL=http://192.168.56.10:9443/
      export HZN_AGBOT_URL=http://192.168.56.10:3111
      export HZN_FDO_SVC_URL=http://192.168.56.10:9008/api
      echo "HZN_ORG_ID=${HZN_ORG_ID}" > agent-install.cfg
      echo "HZN_EXCHANGE_USER_AUTH=${HZN_EXCHANGE_USER_AUTH}" >> agent-install.cfg
      echo "HZN_EXCHANGE_URL=http://192.168.56.10:3090/v1" >> agent-install.cfg
      echo "HZN_FSS_CSSURL=http://192.168.56.10:9443/" >> agent-install.cfg
      echo "HZN_AGBOT_URL=http://192.168.56.10:3111" >> agent-install.cfg
      echo "HZN_FDO_SVC_URL=http://192.168.56.10:9008/api" >> agent-install.cfg
      #      curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -p IBM/pattern-ibm.helloworld -w '*' -T 120

      export $(cat agent-install.cfg)
      echo '{
    "properties": [
                {
                        "name": "openhorizon.allowPrivileged",
                        "value": true
                },
                {
                        "name": "purpose",
                        "value": "edgelake"
                }
],
        "constraints": []
}' > node.policy.json
     curl -sSL https://raw.githubusercontent.com/open-horizon/anax/refs/heads/master/agent-install/agent-install.sh | bash -s -- -i anax: -k ./agent-install.cfg -c css: -n node.policy.json -w '*' -T 120
     #hzn unregister -f
     #hzn register --policy=node.policy.json
    SHELL
  end
end
